<!DOCTYPE html>
<html>
<head>
  <title>dunn!</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/auth.css">
  <link rel="stylesheet" type="text/css" href="css/profile.css">
  <link rel="stylesheet" type="text/css" href="ionic_lite/css/ionicons.min.css">
</head>
<body>
  <nav>
    <div class="container">
      <div class="logo">
        <h1>dunn!</h1>
      </div>

      <ul>
        <% if user_signed_in? %>
        <l1 id="username">
          <%= current_user.username %>
        </l1>
        <li>
          <!-- logout -->
          <form id="logout" action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">logout</button>
          </form>
        </li>
        <% end %>
      </ul>
    
      <footer>
        <p>&copy;2016 dunn Inc.</p>
      </footer>
    </div>
  </nav>

  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
</body>
</html>